// Place all the styles related to the Folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-backdrop{background-color:#000000;position:fixed;top:0;left:0;right:0;bottom:0;z-index:10000;}.modal-backdrop.fade{opacity:0;}
.modal-backdrop,.modal-backdrop.fade.in{filter:alpha(opacity=80);-khtml-opacity:0.8;-moz-opacity:0.8;opacity:0.8;}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 11000;
    width: 560px;
    padding: 0px 25px;
    margin: -250px 0 0 -250px;
    background: url("/assets/container.png");
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}
.modal .close {
    margin-top: 4px;
}
.modal.fade {
    -webkit-transition: opacity .3s linear, top .3s ease-out;
    -moz-transition: opacity .3s linear, top .3s ease-out;
    -ms-transition: opacity .3s linear, top .3s ease-out;
    -o-transition: opacity .3s linear, top .3s ease-out;
    transition: opacity .3s linear, top .3s ease-out;
    top: -25%;
}
.modal.fade.in {
    top: 50%;
}
.modal-header {
    border-bottom: 2px dashed #85766b;
    box-shadow: 0 2px 0px white;
}
.modal-body {
    padding: 15px;
}
.modal-footer {
    padding: 14px 15px 15px;
    border-top: 2px dashed #85766b;
    box-shadow: inset 0 2px 0px white;
    zoom: 1;
    margin-bottom: 0;
}
.modal-footer:before,.modal-footer:after {
    display: table;
    content: "";
    zoom: 1;
    *display:inline;
}
.modal-footer:after {
    clear: both;
}
.modal-footer .btn {
    float: right;
    margin-left: 5px;

    height: 15px;
}

.fade{-webkit-transition:opacity 0.15s linear;-moz-transition:opacity 0.15s linear;-ms-transition:opacity 0.15s linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear;opacity:0;}.fade.in{opacity:1;}

.close {
  float: right;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=20);
  -khtml-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}

h3 {
    font-family: Rockwell, Courier, "Courier New", Georgia, Times, "Times New Roman", serif;
    text-shadow:1px 2px 0px white;
    margin: 15px 15px 5px;
    padding: 25px 0 5px;
}

.modal-body {
    .folder {
        margin: 10px 0;
        .folder_name {
            min-width: 180px;
            display: inline-block;
        }
        .folder_actions a {
            color: #c80100;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


#new_folder {
    margin: 10px 0;
    div.field {float:left; margin-right:15px; }
    #folder_name {
        width: 160px;
    }
    #add_folder_button {
        @extend .btn;
    }
}

.btn {
    display: inline-block; 
    padding: 5px 14px 6px;
    height: 28px;
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
    

    cursor: pointer;
    color: white;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;

    background-color: #57a957;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57a957 #57a957 #3d773d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    &:hover {
        background-position: 0 -15px;
    }
}

